/* Theme definition */
:root {
  --bg-color: #FEFEFE;
  --text-color: #333;

  --text-gradient: linear-gradient(169deg, rgba(255,218,75,1) 0%, rgba(215,72,170,1) 34%, rgba(82,24,24,1) 66%);

  --drop-shadow:  rgba(0, 0, 0, 0.15) 0px 0px 16px 2px;

  --slider-bgcolor: #fff;
  --slider-knob-bgcolor: #888;
}

[data-theme="dark"] {
  --bg-color: #161625;
  --text-color: #DDD;

  --text-gradient: linear-gradient(169deg, rgba(66,57,20,1) 0%, rgba(72,215,215,1) 34%, rgba(255,243,36,1) 66%);
  
  --drop-shadow: rgba(255, 255, 255, 0.35) 0px 0px 16px 2px;

  --slider-bgcolor: #161625;
  --slider-knob-bgcolor: #DDD;
}

@font-face {
  font-family: "HK Nova Medium";
  src: url("/HKNova-Medium.otf");
}

/* General styles */
body {
  background-color: var(--bg-color, #FEFEFE);
  color: var(--text-color, #333);
  transition: background-color 0.5s ease;
  min-height: 100vh;

  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Default style 'mobile' for custom elements */
stellanga-title {
  font-size: 1.5rem;
  width: 25%;
}

/* Media queries */
@media (min-width: 640px) {

  stellanga-title {
    font-size: 3rem;
  }

  stellanga-title, stellanga-bread {
    padding: 0 2rem;
  }

  stellanga-bread {
    width: 60%;
    font-size: 1.2rem;
    padding-bottom: 3rem;
    align-self: flex-end;
  }
}

/* Medium (md) */
@media (min-width: 768px) {

  stellanga-title {
    font-size: 4rem;
  }

  stellanga-title, stellanga-bread, stellanga-foot {
    padding: 0 2rem;
  }

  stellanga-bread {
    padding-bottom: 1.5rem;
  }
}

/* Large (lg) */
@media (min-width: 1024px) {
  stellanga-bread {
    align-self: center;
    max-width: 40%;
  }

}

